@model Registro

<form asp-action="InverterAtivo" method="POST">    
    <input type="hidden" name="id" value="@Model.Id">
    <label class="switch">
        <input class="InverterAtivo" type="checkbox" @(Model.Ativo ? "checked" : "")>
        <span class="slider round"></span>
    </label>            
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-link " title="Editar">
        <i class="fa fa-edit"></i>
    </a>
</form>


