
@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

<br>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-controller="Home">    
            <i class="fa fa-home"></i>                                
            Início
        </a>
    </li>
    
    @if (!controller.Equals("Home"))
    {        
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="@controller">
                @controller
            </a>
        </li>    
    
        if (!action.Equals("Index"))
        {
            <li class="breadcrumb-item active" aria-current="page">
                @action
            </li>
        }
    }

  </ol>
</nav>