@{
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower(); 
    var id = ViewContext.RouteData.Values["id"]?.ToString();
    var temBotaoDeEditar = (action is "detalhes");
    var temBotaoDeCriar = (action is "index");
    var temBotaoSalvar = (action is "criar" || action is "editar");
}

<div class='d-none d-sm-block'>            
    <h1 class='h2 mt-4'>

        @if (temBotaoDeCriar)
        {                        
            <a asp-action='Criar' class='btn btn-primary' title='Criar Novo'>
                <i class='fa fa-plus'></i>
            </a>            
        }

        @if (temBotaoDeEditar)
        {            
            <a asp-action='Editar' class='btn btn-primary' asp-route-id='@id' title="Editar">
                <i class='fa fa-edit'></i>
            </a>
        }

        <i class='@ViewBag.Icone'></i>
        @ViewBag.Title
    </h1>

    <hr>
</div>                   

<div class='d-block d-md-none'>
    @if (temBotaoDeCriar)
        {                        
            <div class="flutuante">    
                <a asp-action='criar' class="btn btn-primary botao-flutuante">
                    <i class='fa fa-plus'></i>
                </a>
            </div>            
        }

    @if (temBotaoDeEditar)
    {            
        <div class="flutuante">    
            <a asp-action='Editar' class='btn btn-primary botao-flutuante' asp-route-id='@id' title="Editar">            
                <i class='fa fa-edit'></i> 
            </a>
        </div>          
    }    
</div>
