<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">     
      <li class="nav-item">
        <a class="nav-link active" asp-action="Index" asp-controller="Home">
            <i class="fa fa-home"></i>            
              Início
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Carros">
            <i class="fa fa-truck"></i>
              Carros
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-btn" href="#">
          <i class="fa fa-arrow-down"></i>
          Auxiliares
        </a>
        <div class="dropdown-container">
          
          <a class="nav-link" asp-action="Index" asp-controller="Cores">
            <i class="fa fa-minus"></i>
            Cores
          </a>          

        </div>
      </li>

    </ul>

    @if(User.IsInRole("Administrador"))
    {
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Administrador</span>      
      </h6>

      <ul class="nav flex-column mb-2">      
      
          <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Usuarios">
                    <i class="fa fa-users"></i>
                    Usuários
                </a>
          </li>  
      </ul>
      }
  </div>
</nav>