<div class='d-none d-sm-block'>
    <button type="submit" class="btn btn-primary"> Salvar </button>
</div>            

<div class='d-block d-md-none'>        
    <div class="flutuante">    
        <button type='submit' class="btn btn-primary botao-flutuante">
            <i class='fa fa-check'></i>
        </button>
    </div>                    
</div>