@model Pessoa

@{
    ViewData["Title"] = "Criar Pessoa";
}

<div class='d-none d-sm-block'>            
    <h1 class='h2 mt-4'>      
        <i class='fa fa-user'></i>
        @ViewBag.Title
    </h1>

    <hr>
</div> 

<form asp-action="Criar" method="POST">    
    <partial name="_Form"/>
    <button type="submit" class="btn btn-primary"> Salvar </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/js/ViaCep.js'></script>
    <script src='~/js/pessoas/scripts.js'></script>

}