@model Pessoa

@{
    ViewData["Title"] = "Criar Pessoa";
    ViewData["Icone"] = "fa fa-user";
}

<form asp-action="Criar" method="POST">    
    <partial name="_Form"/>
    <partial name='_SubmitChick' />    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/js/ViaCep.js'></script>
    <script src='~/js/pessoas/scripts.js'></script>

}