@model IEnumerable<Pessoa>

@{
    ViewBag.Title = "Pessoas";
}

@if (Model.Any())
{
    <table class="table table-hover datatable-show-all">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ativo / Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Nome </td>
                    <td>
                        <partial name="_AcoesIndex" Model="@item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");} 
}