@{
    ViewBag.Title = "Novo Usuário";    
    ViewData["Icone"] = "fa fa-user";
}

<form asp-for="Criar" method="POST">    
    <partial name="_Form"/>
    <partial name='_SubmitChick' />    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}