@model IEnumerable<Usuario>

@{
    ViewBag.Title = "Usuários"; 
    ViewData["Icone"] = "fa fa-user";   
}

@if (Model.Any())
{
    <table class="table datatable-show-all">
        <thead>
            <tr>
                <th> CPF</th>
                <th> Nome</th>                            
                <th> Email</th>
                <th> Ativo / Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (Usuario usuario in Model)
                {
                    <tr>
                        <td> @usuario.CPF </td>
                        <td> @usuario.Nome </td>
                        <td> @usuario.Email </td>
                        <td>
                            <partial name="_AcoesIndex" Model="@usuario" />
                        </td>
                    </tr>
                }            
            }
        </tbody>
    </table>       
}
else
{
    <partial name='_NaoHaRegistros'/>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");}    
}