@model Cor

@{
    ViewData["Title"] = "Criar Carro";
    ViewData["Icone"] = "fa fa-car";
}

<form asp-action="Criar" method="POST">    
    <partial name="_Form"/>
    <partial name="_SubmitChick"/>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}