@model IEnumerable<Carro>

@{
    ViewBag.Title = "Carros";
    ViewData["Icone"] = "fa fa-car";
}

@if (Model.Any())
{
    <ul class='list-group'>
        @foreach (var item in Model)
        {   
            <li class="list-group-item">
                <a asp-action='Editar' asp-route-id='@item.Id'>            
                    <p class='mb-0'> <strong> @item.Modelo @item.Cor.Nome </strong></p>
                    <p> @item.DataDeCadastro.ToShortDateString() </p>                                                
                </a>
            </li>    
        }
    </ul>
}
else
{
    <partial name="_NaoHaRegistros"/>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_DataTable");} 
}