@model IEnumerable<Cor>

@{
    ViewBag.Title = "Cores";
}

<a asp-action="Criar" class="btn btn-link">
    <i class="fa fa-plus-circle"></i>
    Nova Cor
</a>

@if (Model.Any())
{
    foreach (var item in Model)
    {        
        <li class="list-group-item">
            <a asp-action='Editar' asp-route-id='@item.Id'>            
                <p class='tituloDaLista'> @item.Nome </p>
                <p class='conteudoDaLista'> @item.DataDeCadastro.ToShortDateString() </p>                
            </a>
        </li>    
    }
}
else
{
    <partial name="_NaoHaRegistros"/>
}
